/* dany.css */

body {
    background-image: url('pp.jpg');
    background-size: cover;
    background-color: #f2f2f2;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
  }
  
  em {
    display: block;
    text-align: center;
    margin: 10px 0;
  }
  
  .halaman {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  small {
    font-size: 80%;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4ca3af;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a0a0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #4c93af;
    color: #fff;
  }
  
  .note {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  /* Styles for Checkout button */
  button[type="button"] {
    background-color: #008CBA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button[type="button"]:hover {
    background-color: #005684;
  }
  